[Desktop Entry]
Name=Telegram Desktop C
Comment=Official desktop version of Telegram messaging app
Exec=/opt/Telegram/Telegram -many -workdir /media/veracrypt1/telegram/profiles/3
Icon=org.telegram.desktop
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=Quit;
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true
X-Flatpak=org.telegram.desktop
